#KeyboardO {
    cursor: pointer; 
     height: 49px;
     width:50px;
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #d8d8d8;
    background: #242424;
    border-radius: 60px;
    border-color: #e0e0e0;
      border-width: 3px;
}

#Save {
    cursor: pointer; 
     height: 29px;
     width:150px;
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #d8d8d8;
    background: #000;
    border-radius: 8px;
    border-color: #e9e9e9;
      border-width: 3px;
}
#Save:focus {
    outline-width: 0;
}


#KeyboardO:focus {
    outline-width: 0;
}


#container{padding-left:5px; margin-top: 25px;display: inline-block;clear: left;width: 237px;}

#pieces{padding-left:5px; margin-top: 25px;display: inline-block;}

#container summary {
    width: 187px;
float: left;
clear: left;
color: #b6a9b9;
text-align: left;
font-family: Verdana, Geneva, sans-serif;
margin-left: -8px;
padding: 3px;
font-size: 11px;
}

a#readm:not(:hover){
    width: 197px;
float: left;
clear: left;
color: #b6a9b9;
text-align: left;
font-family: Verdana, Geneva, sans-serif;
margin-left: -5px;
padding: 3px;
font-size: 11px;
}

a#readm:hover{
    width: 197px;
float: left;
clear: left;
text-align: left;
font-family: Verdana, Geneva, sans-serif;
margin-left: -5px;
padding: 3px;
font-size: 11px;
}


#container label{
 display: inline-block;
  float: left;
    width: 117px;
    font-size: 18px;
     margin-top: 9px;
    color: #b6a9b9;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left; /*Change to right here if you want it close to the inputs*/
    margin-left: -5px;
   
}
#container input {
    
    padding: 0.1em;
  display: inline-block;
  float: left;
  width: 65px;
  margin-top: 5px;
  color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: #636064;
    border-radius: 60px;
    border-color: #d5d5d5;
      border-width: 3px;
    text-align: center;   
    
}

#container input:focus {
    outline-width: 0;
}

#container input::-webkit-input-placeholder{
    color: #000;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

#container {
 user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}